/*header内について*/

body {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.menu li {
    width: 8%;
    margin-right: 2%;
    font-size: 1%;
}

.titlephoto {
    width: 30%;
}

/*main*/

/*message*/
.message{
    display: flex;
    width: 100%;
}

.message_text_section{
    width: 65%;
}

.message_title{
    font-size: 30px;
    padding: 0 5% 0 0;
}

.message_body{
    padding: 0 5% 0 0;
}

.closing{
    display: grid;
    justify-content: flex-end;
}

.message_status{
    justify-content: flex-end;
}

.message_photo_section{
    width: 35%;
}

.morimoto_photo{
    padding: 10% 10% 10% 10%;
    max-width: 75%;
    height: auto;
}

/*messageパート終わり*/

/*newsパート*/

.news {
    display: grid;
    width: 100%;
    line-height: 1.0; 
}

.news_a_article {
    padding: 0 0 0 0;
}

.news_title {
    font-size: 22px;
}

.news_date {
    font-size: 14px;
}

.news_description {
    font-size: 16px; 
}

/*newsパート終わり*/

/*informationパート*/

.information {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: #f38e7c;
    row-gap: 2%;
    column-gap: 2%;
}


.information_section {
    padding: 1em 2em 2em 2em; 
    border: solid 1px #011105;
    background: #7e7cf3;
    display: grid;
}

.information_image {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.information_section_title {
    background: #f71707;    
}

.information_botan {
    display: flex;
}

.botan {
    color: #fff;
    font-size: 8%;
    font-weight: bold;
    background: #80f37c;
    padding: 1.5% 2.5%;
    border-radius: 1.5%;
    transition: .3s;
	justify-content: flex-end;
}

.botan:hover {
    background: #e0f5e0;
}



/*informationパート終わり*/

/*footerパート*/

footer {
    display: flex;
}

.recent_posts {
    width: 33%;
    background: #0ee64f;
}

.details {
    display: flex;
    width: 67%;
}


.details_column1 { 
    width: 50%;  
    background: #a59b12;
}

.details_column2 {
    width: 50%;    
    background: #1263a5;
}


li {
    list-style: none;
}