/* header内について */

header {
    width: 100vw;
    height: 10vh;
    border-bottom: solid 1px #c0bfbe;
}

.header_block {
    width: 60vw;     
    margin-right: 20vw;
    margin-left: 20vw;
    display: flex;
    align-items: center;
    padding: 2vh 0 0 0;
}

.menu {
    display: flex;
    width: 70%;
    padding: 0 0 0 10vw;
}

.menu li {
    width: auto;
    margin: auto;
    font-size: auto;
}

.titlephoto {
    width: auto;
    height: 6vh;
}

/* main */

main {
    width: 60vw;
    margin-right: 20vw;
    margin-left: 20vw;
}

/* message */
.message {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #c0bfbe;
    padding: 0 0 2vh 0;
}

.message_text_section {
    width: 60%;
}

.message_title {
    font-size: 30px;
    padding: 0 5% 0 0;
}

.message_body {
    padding: 0 0 0 0;
}

.closing {
    display: grid;
    justify-content: flex-end;
}

.message_status {
    font-size: 15px;
}

.message_status p {
    text-align: right;
    line-height: 0.4;
}

.message_photo_section {
    width: 40%;
}

.morimoto_photo_box {
    padding: 5% 5% 5% 10%;
    max-width: 95%;
    height: auto;
}

.morimoto_photo_box img {
    border-radius: 8px;
    max-width: 110%;
}

/* messageパート終わり */

/* newsパート */

.news {
    display: grid;
    width: 100%;
    line-height: 0.8; 
    margin: 0 0 2vh 0;
}

.news_article {
    border-bottom: solid 1px #c0bfbe;
}

.news_title {
    font-size: 24px;
    padding: 0 0 0 0.5vw;
}

.news_title h6 {
    font-weight: normal;
}

.news_date {
    font-size: 14px;
    padding: 0 0 0 1vh;
}

.news_description {
    font-size: 16px;
    padding: 0 0 0 1vh; 
}

/* newsパート終わり */

/* informationパート */

.information {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2%;   
    row-gap: 2%;
    padding: 1vh 0 3vh 0;    
    border-bottom: solid 1px #c0bfbe;
}

.information_section {
    border: solid 2px #bbb8b8;
    border-radius: 6px; 
    display: grid;
    grid-template-columns:  1fr 1fr 8fr 8fr 1fr 1fr;
    grid-template-rows: 4fr 2fr 2fr 1.5fr;
}

.information_image {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    max-width: 300px; 
    max-height: 150px;
    overflow: hidden;
}

.information_image img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.information_section_title {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 20px;
}

.information_section_description {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}

.information_button {
    grid-column: 4 / 6;
    grid-row: 4 / 5;
}

.button {
    background-color: #96e47f;
    border-radius: 4px;
    border: none; 
    padding: 12px 0 12px 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    cursor: pointer;
    width: 90%;
    font-size: 13px;
}

.button:hover {
    background: #c0f8c0;
}

/* informationパート終わり */

/* footerパート */

footer {
    display: flex;
    height: 25vh;
    padding: 5vh 0 0 0;
    width: 60vw;
    margin-right: 20vw;
    margin-left: 20vw;
}

/* postパート */

.recent_posts {
    width: 33%;
    padding: 0 5vw 0 0;
}

.recent_posts_head {
    font-size: 20px;
}

.recent_posts_section {
    border-bottom: solid 1px #04000c;
    height: 20%;
    display: grid;
    margin: 2px 0 0 0;
}

.post_info {
    display: flex;
    margin: 0px;
    height: 18px;
}

.post_status {
    height: 100%;
    align-items:center;
    background-color: #6e726e;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 11px;
    margin: 0px 0px 1px 2px;
    padding: 2px;
}

.post_date {
    margin: 1px;
}

.recent_posts_description {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.recent_posts_description p {
    margin: 1px 0px 1px 2px;
}

/* postパート終了 */

.details {
    display: flex;
    width: 67%;
}

.details_column { 
    width: 45%;  
    padding: 3vh 0 0 1vh;
}

.details_factor {
    border-bottom: solid 1px #c0bfbe;
    height: 16px;
    padding: 0 0 8px 8px;
}

.details_factor p {
    font-size: 12px;
}

/* footerパート終わり */

li {
    list-style: none;
}