.input-area {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 6px 16px;
    align-items: center;
    border-radius: 10px;
}

.input-button {
    background-color: gray;
    color: black;
    border-radius: 10px;
}

#ToDo-Area {
    display: flex;
    padding: 200px 16px;
    background-color: aquamarine;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
}

.ClearButton {
    background-color: gray;
    color: black;
    border-radius: 10px;
}

.DeleteButton {
    background-color: gray;
    color: black;
    border-radius: 10px;
}

#todo-item {
    display: flex;
    flex-direction: row;
    background-color: beige;
    border-radius: 5px;
    padding: 20px 16px;
    border-radius: 10px;
}

.todo-text {
    padding: 10px 100px;
}

.clear-text{
    padding: 10px 100px;
}

#Clear-Area {
    display: flex;
    padding: 200px 16px;
    background-color: rgb(133, 255, 127);
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
}

#clear-item {
    display: flex;
    flex-direction: row;
    background-color: beige;
    border-radius: 5px;
    padding: 20px 16px;
}

.DoButton {
    background-color: gray;
    color: black;
    border-radius: 10px;
}