.input-area { 
    display: flex;
    flex-direction: row;
    background-color: aqua;
    padding: 6px 16px;
    align-items: center;
}
.input-button {
background-color: gray;
color: black;
border-radius: 10px;
}

.TODO-area{

    display: flex;
    padding: 200px 16px;
    background-color: aquamarine;
    flex-direction: column;

  

    
}

.TODO_BOX{
    display: flex;
    padding: 20px 16px;
    background-color: beige;
    flex-direction: row;

}

.DoButton{
    background-color: gray;
color: black;
border-radius: 10px;

}
.DeleatButton{background-color: gray;
    color: black;
    border-radius: 10px;
    }

.todo-item{
    display: flex;
    flex-direction: row;
    background-color: beige;
    
    border-radius: 5px;
    padding: 20px 16px;
}
.todo-text{
    padding: 10px 100px;
}