.App {
  display: flex;
  justify-content: center; /* Align horizontally */
  align-items: center; /* Align vertically */
  height: 100vh; /* Take up the full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #f0f0f0; /* Optional background color */
}
.game {
  text-align: center; /* Center text and content inside the game container */
  border: 1px solid #000; /* Optional border around the game */
  padding: 20px; /* Optional padding */
  background-color: #fff; /* Optional background color for the game */
  border-radius: 10px; /* Optional rounded corners */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
