
body {
  background-color: #fafafa;
  padding: 20px;
}

*,:after,:before {
    box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: all ease .25s;
}

button:hover {
  transform: scale(1.1);
}

.create-form {
    display: flex;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.create-form-text {
  width: calc(100% - 80px);
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.create-form input {
  width: 50%;
  padding: 10px;
  border: none;
  outline: none;
}

.create-form input:first-child {
  border-right: 1px solid #ccc;
}

.create-form button {
  width: 80px;
  border: none;
  background-color: #8080dd;
  border-radius: 0 10px 10px 0;
  color: #fff;
}

ul.card-list {
    display: block;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul.card-list>li {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

ul.card-list>li:last-child {
  margin-bottom: 0;
}

.card-text {
  display: flex;
  width: calc(100% - 40px);
}

.card-front, .card-back {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0 20px;
}

.card-front {
    border-right: #dcdcdc solid 1px;
}

.card-check button{
  display: block;
  background-color: #8080dd;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  margin: 0;
  font-size: 14px;
}

.card-front span, .card-back span {
    font-size: 25px;
    font-weight: 400;
    word-wrap: break-word;
    word-break: break-all;
    color: #3d3d3d;
    margin-right: auto;
    max-width: 100%;
}

.control-area {
    display: flex;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.control-area button {
  display: block;
  width: 100%;
  background-color: #8080dd;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  margin-right: 10px;
}

.control-area button:hover {
  transform: scale(1.025);
}


.control-area button:last-child {
  margin-right: 0;
}

.learning-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.learning-panel .header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.learning-panel .header button.stop-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  border: none;
  outline: none;
  background: none;
  height: 100%;
  padding: 0 10px;
  color: #aaa;
}

.learning-panel .header button.reset-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  background: none;
  height: 100%;
  padding: 0 10px;
  color: #aaa;
}

.learning-panel .contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.learning-panel .contents .prev-btn {
  position: absolute;
  left: 0;
  bottom: calc(50% - 40px);
  height: 80px;
  width: 40px;
  background-color: #8080dd;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.learning-panel .contents .next-btn {
  position: absolute;
  right: 0;
  bottom: calc(50% - 40px);
  height: 80px;
  width: 40px;
  background-color: #8080dd;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.learning-panel .contents .check-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 80px;
  width: 80px;
  background-color: #8080dd;
  color: #fff;
  border: none;
  outline: none;
  font-size: 40px;
  border-radius: 20px;
}

.learning-panel .contents .read-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 80px;
  width: 80px;
  border: 2px solid #8080dd;
  background-color: transparent;
  color: #8080dd;
  outline: none;
  font-size: 40px;
  border-radius: 20px;
}

.learning-panel .contents .active-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: 5vmax;
  font-weight: 500;
  padding: 0 20px;
  word-wrap: break-word;
}

.learning-panel .footer {
  padding: 10px;
  background-color: #eee;
}

.learning-panel .footer .progress {
  background-color: #fff;
  border-radius: 10px;
}

.learning-panel .footer .progress-bar {
  display: block;
  background-color: #8080dd;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  transition: all ease .25s;
}

@media screen and (max-width: 710px) {
  .card-text {
    display: block;
    padding-right: 10px;
  }

  .card-front {
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-right: none;
    padding: 5px 10px;
  }

  .card-back {
    width: 100%;
    padding: 5px 10px;
  }
  
  .card-front span, .card-back span {
      font-size: 16px;
  }

  .learning-panel .contents .read-btn,
  .learning-panel .contents .check-btn {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-size: 40px;
  }
}