
main {
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.information {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.information_section {
    width: 230px;
    border:  2px solid #8b8a8f;
    border-radius: 6px; 
    display: grid;
}

.information_button {
    text-align: center;
}

.information_section button {
    width: 50px;
}

.task_section {
    /* background-color: rgb(66, 210, 30); */
}

.imcomplete_task {
    display: grid;
    background-color: rgb(66, 210, 30);
}

.one_imcomplete_task {
    background-color: red;
}