@import url(../sanitize.css);

h1 {
  font-size: 24px;
  background-color: aquamarine;
}
div.content {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #644030;
  padding: 8px;
}
button {
  width: 100%;
  background-color: aqua;
  color: azure;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
label {
  display: block;
  background-color: aquamarine;
}
p {
  font-size: 12px;
}
