* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#logo {
  width: auto;
}

nav {
  font-size: 24px;
}

nav li {
  display: inline;
}

nav li a {
  padding: 14px 18px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.introduce_container {
  align-items: center;
  margin-top: 80px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.introduce_first {
  width: 1000px;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 40px;
}
#introduce_word {
  width: 708px;
  height: 525px;
  font-size: 28px;
}
#introduce_word p {
  font-size: 16px;
}

#introduce_img_face {
  margin-left: 20px;
  text-align: end;
}
#introduce_img_sign {
  text-align: end;
}

#saishinnews {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.saishin_box {
  padding-top: 20px;
  width: 70%;
  height: 128px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.saishin_box a {
  color: black;
  font-size: 20px;
}

.saishin_box a:hover {
  text-decoration: underline;
}

.nextview a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.nextview a:hover {
  color: rgb(72, 98, 184);
  text-decoration: none;
}

#site_contatiner {
  padding: 10px;
  max-width: 100%;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site_box {
  border: 1px solid #dfdfdf;
  width: 320px;
  height: 350px;
  margin: 7px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.site_box_bold {
  font-weight: bold;
  font-size: 24px;
}

.site_box_intro {
  font-size: 16px;
}

.site_img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.site_box button {
  background-color: #b0d16e;
  font-size: 14px;
  color: white;
  width: 140px;
  height: 30px;
  align-self: self-end;
  border: none;
  border-radius: 6px;
}

#saishintougo h1 {
  margin-left: 10px;
  font-size: 16px;
}

.saishintougonaiyou {
  padding: 14px;
  font-size: 14px;
  width: 349px;
  height: 40px;
  border-bottom: 1px solid #dfdfdf;
}

.saishintougonaiyou a {
  color: black;
  font-size: 12px;
}

.saishintougonaiyou a:hover {
  text-decoration: underline;
}

.saishintougonaiyou button {
  background-color: #7e7e7e;
  font-size: 9px;
  color: white;
  width: 40px;
  height: 20px;
  align-self: self-end;
  border: none;
  border-radius: 6px;
}

.saishinsitemap {
  width: 80%;
  height: 100%;
  padding-top: 100px;
  border-top: 1px solid #dfdfdf;
  display: flex;
  flex-wrap: wrap;
}

#site_map_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.site_map li a {
  color: black;
}

.site_map li a:hover {
  color: rgb(72, 98, 184);
}

.site_map li {
  padding-left: 10px;
  padding-top: 10px;
  width: 349px;
  height: 35px;
  border-bottom: 1px solid #dfdfdf;
}

.site_map li:hover {
  background: #cecece;
}

footer {
  margin-top: 100px;
  margin-bottom: 40px;
}
