*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}
#page{
    max-width:1110px; margin:0 auto;
}


header{    
    position: sticky;
    top:0;
    width: 100%;
    height: 170px;
    position:relative;
    background-color:white;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    width:auto;
}

nav{
    font-size: 24px;
}

nav li{
    display: inline;
    margin-left: 10px;
}

nav li a{color:black}

.introduce_container{
    margin-top:80px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.introduce_first{
    width: 1000px;
    font-weight: bold;
    font-size:36px;
    margin-bottom: 40px;
}
#introduce_word{
    width: 708px;
    height: 525px;
    font-size: 28px;
}
#introduce_word p{
    font-size: 16px;
}

#introduce_img_face{
    text-align: end;

}
#introduce_img_sign{
    text-align: end;
}







#saishinnews{
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.saishin_box{
    padding-top: 20px;
    width:100%;
    height:128px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.saishin_box a{
    font-size: 20px;
}






#site_contatiner{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
}

.site_box{

    border: 1px solid #dfdfdf;
    width : 320px;
    height : 350px;
    margin: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.site_box_bold{
    font-weight: bold;
    font-size:24px;
}

.site_box_intro{
    font-size:16px;

}

.site_img{
    width : 150px;
    height : 150px;
    align-self: center;
}

.site_box button{
    background-color: #B0D16E;
    font-size: 14px;
    color: white;
    width : 140px;
    height : 30px;
    align-self: self-end;
    border-color: white;
}





#saishintougo h1{
    font-size: 16px;
}

.saishintougonaiyou{
    padding: 15px;
    font-size: 14px;
    width:349px;
    height: 69px;
    border-bottom: 1px solid #dfdfdf;
}

.saishintougonaiyou a{
    font-size: 12px;
}

.saishinsitemap{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.site_map li a{
    color:black;
}

.site_map li a:hover{
    color:rgb(72, 98, 184);
}

.site_map li {
    padding-left:10px;
    padding-top: 10px;
    width:349px;
    height:35px;
    border-bottom: 1px solid #dfdfdf;
}

.site_map li:hover{
    background:#cecece;
}



