@import url(../sanitize.css);
body{
  font-size: 16px;
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  padding: 5px 170px 5px 170px ;
  justify-content: center;
}
h1{
  font-weight: bold;
}

  header{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid #999;
  }
  .logo{
    padding-right: 0px;
  }
  section{
    display: flex;
    flex-direction: row;
    margin: 8px 10px 10px 10px;
    padding: 5px;
  }
  section h1{
    font-size: 32px;
  }
  section p{
    font-size: 18px;
    margin-right: 5%;
  }
  .name {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
  }
  .ceo img{
    border-radius: 10px;
    margin-top: 20%;
    margin-bottom: 10%;
  }
  .sign {
    display: flex;
    flex-direction: row-reverse;
  }
  .container{
    margin: 0%;
    padding: 15px 5px;
    font-size: 16px;
  }
  .container time{
    color:#767575;
  }
  .container a{
    font-size: 20px;
    color: #505050;
    text-decoration: none;
  }
  .container a:hover{
    text-decoration: underline;
  }
  .box1{
    margin: 5px 5px;
    padding: 8px 5px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
  }
  .box2{
    padding: 8px 5px;
    border-bottom:1px solid #999;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
  }
  .content h1{
    font-size: 24px ;
  }
  .box3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 8px;
    border: 1px solid #d6e0e0;
    padding: 5px 18px 5px 18px;
  }
  .box3 p{
    height:150px;
  }
  .box3 img {
    width: 308px; 
    max-height: 154px;
    padding: 2px;
    justify-content: center;
  }
  .box3 button{
    border: none;
    background-color: #b0d16e;
    color: #fff;
    padding: 8px;
    margin: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    justify-content: flex-end
  }
  .box3 button:hover{
    background-color: #c2e679;
    box-shadow: 0px 4px 4px  #879389;
  }
  .right{
    display: flex;
    flex-direction: row-reverse;
  }
  .last{
    display: flex;
    flex-direction: row;
  }
  .recent{
    width: 100%;
    margin-right: 150px;
    border-bottom: #999;
    color: #505050;
  }
  .recent a{
    text-decoration: none;
    color: #505050;
  }
  .recent a:hover{
    text-decoration: underline;
  }
  .recent button{
    background-color: #999;
    color: #fff;
    padding: 5px;
    margin: 5px;
    width: 60px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 3px;
  }
  .box4{
    display: flex;
    flex-direction: row;
  }
  .box5{
    border-bottom: 1px solid #999;
  }
  .binder{
    font-size: 18px;
    width: 700px;
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box6{
    text-align: left;
    align-items: flex-end;
    text-decoration: none;
    font-style: #505050;
    border-bottom: 1px solid #999;
    width: 300px;
  }
  .box6:hover{
    background-color: #f7f7fa;
    color: rgb(12, 24, 243);
  }
  footer p{
   text-align: center;
   color: #767575;
   font-size: 18px;
  }
 