body{
  font-size: 14px;
  background-color: #fff;
}
.sub_body{
  margin: 10px;
  padding: 5px 170px 5px 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  margin: 0%;
  padding: 0px;
  border-bottom: 1px solid #e2e2e0;
  justify-content: center;
}
.logo{
  margin-left: 100px;
  padding-right: 0px;
}
.header_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  min-width: 200px;
}
section{
  display: flex;
  flex-direction: row;
  margin: 8px 10px 10px 10px;
  padding: 5px;
  justify-content: center;
}
.section_greeting_text{
  padding: 0px 30px 0px 10px;
  margin: 0px 30px 0px 10px;
  font-size: 16px;
  max-width: 700px;
}
.section_name{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
}
.section_ceo img{
  border-radius: 10px;
  }
.section_sign{
  display: flex;
  flex-direction: row-reverse;
}
.news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5px;
  font-size: 14px;
  width: 100%;
  max-width: 1700px;
}
.news time{
  color:#767575;
}
.news a{
  font-size: 18px;
  color: #505050;
  text-decoration: none;
}
.news a:hover{
  text-decoration: underline;
}
.news_first{
  padding: 8px 5px;
  border-bottom:1px solid #999;
  border-top:1px solid #999;
}
.news_second{
  padding: 8px 5px;
  border-bottom:1px solid #999;
}
.info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
.info_content{
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  width: 300px;
  height: 400px;
  margin: 8px;
  border: 1px solid #d6e0e0;
  padding: 5px 18px 5px 18px;
}
.info_content p{
  height:150px;
}
.info_content img{
  width: 308px; 
  max-height: 154px;
  padding: 2px;
  justify-content: center;
}
.info_content button{
  border: none;
  background-color: #b0d16e;
  color: #fff;
  padding: 8px;
  margin: 5px;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 2px;
  justify-content: flex-end
}
.info_content button:hover{
  background-color: #c2e679;
  box-shadow: 0px 4px 4px  #879389;
}
.info_right{
  display: flex;
  flex-direction: row-reverse;
}
.footer_last{
  display: flex;
  flex-direction: row;
  justify-self: center;
}
.footer_recent{
  width: 500px;
  max-width: 1700px;
  margin-right: 100px;
  border-bottom: #999;
  color: #505050;
}
.footer_recent a{
  text-decoration: none;
  color: #505050;
}
.footer_recent a:hover{
  text-decoration: underline;
}
.footer_recent button{
  background-color: #999;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  margin: 5px;
  width: 40px;
  height: 20px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 3px;
}
.footer_recent_button{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_recent_article{
  border-bottom: 1px solid #999;
}
.footer_recent_map_article{
  text-align: left;
  align-items: center;
  text-decoration: none;
  font-style: #505050;
  border-bottom: 1px solid #999;
  width: 300px;
}
.footer_recent_map_article :hover{
  background-color: #f7f7fa;
  color: rgb(12, 24, 243);
}
.footer_logo p{
  text-align: center;
  color: #767575;
  font-size: 14px;
}